In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('college_student_placement_dataset (1).csv')
df

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,CLG0030,107,6.61,6.28,8,No,8,8,4,No
1,CLG0061,97,5.52,5.37,8,No,7,8,0,No
2,CLG0036,109,5.36,5.83,9,No,3,1,1,No
3,CLG0055,122,5.47,5.75,6,Yes,1,6,1,No
4,CLG0004,96,7.91,7.69,7,No,8,10,2,No
...,...,...,...,...,...,...,...,...,...,...
9995,CLG0021,119,8.41,8.29,4,No,1,8,0,Yes
9996,CLG0098,70,9.25,9.34,7,No,0,7,2,No
9997,CLG0066,89,6.08,6.25,3,Yes,3,9,5,No
9998,CLG0045,107,8.77,8.92,3,No,7,5,1,No
9999,CLG0060,109,9.41,9.77,8,No,3,5,5,No

In [9]:
# Opening a csv file from url

import requests
from io import StringIO
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"user.Agent":"MOzilla/S.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.)=0"}
req = requests.get(url,headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [12]:
pd.read_csv('college_student_placement_dataset (1).csv',sep='\t')

     College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0                   CLG0030,107,6.61,6.28,8,No,8,8,4,No
1                    CLG0061,97,5.52,5.37,8,No,7,8,0,No
2                   CLG0036,109,5.36,5.83,9,No,3,1,1,No
3                  CLG0055,122,5.47,5.75,6,Yes,1,6,1,No
4                   CLG0004,96,7.91,7.69,7,No,8,10,2,No
...                                                 ...
9995               CLG0021,119,8.41,8.29,4,No,1,8,0,Yes
9996                 CLG0098,70,9.25,9.34,7,No,0,7,2,No
9997                CLG0066,89,6.08,6.25,3,Yes,3,9,5,No
9998                CLG0045,107,8.77,8.92,3,No,7,5,1,No
9999                CLG0060,109,9.41,9.77,8,No,3,5,5,No

[10000 rows x 1 columns]