# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])

In [4]:
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [5]:
df = pd.DataFrame({"names": ["harry","Mohit",'Shub'], "marks": [60,100,45]})

In [6]:
df

   names  marks
0  harry     60
1  Mohit    100
2   Shub     45

In [10]:
df = pd.read_csv("Iris.csv")

In [11]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    str
dtypes: float64(4), int64(1), str(1)
memory usage: 7.2 KB

Data Selection

In [19]:
type(df["Id"])

pandas.Series

In [20]:
df['Id']

0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: Id, Length: 150, dtype: int64

In [22]:
df[["Id","SepalLengthCm"]]

      Id  SepalLengthCm
0      1            5.1
1      2            4.9
2      3            4.7
3      4            4.6
4      5            5.0
..   ...            ...
145  146            6.7
146  147            6.3
147  148            6.5
148  149            6.2
149  150            5.9

[150 rows x 2 columns]

In [23]:
df.iloc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [24]:
df2 = pd.read_csv("Iris2- Copy.csv")

In [25]:
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            NaN           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            NaN           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
df2.dropna()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
df2.fillna(0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,0.0,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,0.0,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [30]:
df.rename(columns={"SepalLengthCm": "SL"})

      Id   SL  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1  5.1           3.5            1.4           0.2     Iris-setosa
1      2  4.9           3.0            1.4           0.2     Iris-setosa
2      3  4.7           3.2            1.3           0.2     Iris-setosa
3      4  4.6           3.1            1.5           0.2     Iris-setosa
4      5  5.0           3.6            1.4           0.2     Iris-setosa
..   ...  ...           ...            ...           ...             ...
145  146  6.7           3.0            5.2           2.3  Iris-virginica
146  147  6.3           2.5            5.0           1.9  Iris-virginica
147  148  6.5           3.0            5.2           2.0  Iris-virginica
148  149  6.2           3.4            5.4           2.3  Iris-virginica
149  150  5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]

In [37]:
df.rename(columns={"SepalLengthCm": "SL"},inplace=True)
df

      Id  SL  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1   5           3.5            1.4           0.2     Iris-setosa
1      2   4           3.0            1.4           0.2     Iris-setosa
2      3   4           3.2            1.3           0.2     Iris-setosa
3      4   4           3.1            1.5           0.2     Iris-setosa
4      5   5           3.6            1.4           0.2     Iris-setosa
..   ...  ..           ...            ...           ...             ...
145  146   6           3.0            5.2           2.3  Iris-virginica
146  147   6           2.5            5.0           1.9  Iris-virginica
147  148   6           3.0            5.2           2.0  Iris-virginica
148  149   6           3.4            5.4           2.3  Iris-virginica
149  150   5           3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]

In [40]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SL             150 non-null    int64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    str
dtypes: float64(3), int64(2), str(1)
memory usage: 7.2 KB

In [47]:
df['SepalWidthCm'] = df['SepalWidthCm'].astype(float)

In [48]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SL             150 non-null    int64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    str
dtypes: float64(3), int64(2), str(1)
memory usage: 7.2 KB

In [49]:
df

      Id  SL  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1   5           3.0            1.4           0.2     Iris-setosa
1      2   4           3.0            1.4           0.2     Iris-setosa
2      3   4           3.0            1.3           0.2     Iris-setosa
3      4   4           3.0            1.5           0.2     Iris-setosa
4      5   5           3.0            1.4           0.2     Iris-setosa
..   ...  ..           ...            ...           ...             ...
145  146   6           3.0            5.2           2.3  Iris-virginica
146  147   6           2.0            5.0           1.9  Iris-virginica
147  148   6           3.0            5.2           2.0  Iris-virginica
148  149   6           3.0            5.4           2.3  Iris-virginica
149  150   5           3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]

In [50]:
df['SL'][0]

np.int64(5)

In [51]:
len(df)

150

In [52]:
df["Zeros"] = [0 for i in range(len(df))]

In [53]:
df

      Id  SL  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species  Zeros
0      1   5           3.0            1.4           0.2     Iris-setosa      0
1      2   4           3.0            1.4           0.2     Iris-setosa      0
2      3   4           3.0            1.3           0.2     Iris-setosa      0
3      4   4           3.0            1.5           0.2     Iris-setosa      0
4      5   5           3.0            1.4           0.2     Iris-setosa      0
..   ...  ..           ...            ...           ...             ...    ...
145  146   6           3.0            5.2           2.3  Iris-virginica      0
146  147   6           2.0            5.0           1.9  Iris-virginica      0
147  148   6           3.0            5.2           2.0  Iris-virginica      0
148  149   6           3.0            5.4           2.3  Iris-virginica      0
149  150   5           3.0            5.1           1.8  Iris-virginica      0

[150 rows x 7 columns]

In [60]:
def fx(a):
    return a*a
df["Zeros + 1"] = df["SL"].apply(fx)

In [61]:
df

,Id,SL,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Zeros,Zeros + 1
0,1,5,3.0,1.4,0.2,Iris-setosa,0,25
1,2,4,3.0,1.4,0.2,Iris-setosa,0,16
2,3,4,3.0,1.3,0.2,Iris-setosa,0,16
3,4,4,3.0,1.5,0.2,Iris-setosa,0,16
4,5,5,3.0,1.4,0.2,Iris-setosa,0,25
...,...,...,...,...,...,...,...,...
145,146,6,3.0,5.2,2.3,Iris-virginica,0,36
146,147,6,2.0,5.0,1.9,Iris-virginica,0,36
147,148,6,3.0,5.2,2.0,Iris-virginica,0,36
148,149,6,3.0,5.4,2.3,Iris-virginica,0,36
149,150,5,3.0,5.1,1.8,Iris-virginica,0,25

In [63]:
df.to_csv("export.csv",index=False)

In [74]:
df1 = pd.DataFrame({
    "name": ["Harry","Rohan","Shubham","Shivam","Divya","Aparna","Khushi"],
    "Marks":[100,53,53,54,64,32,98],})

In [68]:
df1

      name  Marks
0    Harry    100
1    Rohan     53
2  Shubham     53
3   Shivam     54
4    Divya     64
5   Aparna     32
6   Khushi     98

In [75]:
df2= pd.DataFrame({
    "name": ["Akash","Akasha","Alka","Priyanka"],
    "Marks":[3,100,95,5],})

In [71]:
df2

       name  Marks
0     Akash      3
1    Akasha    100
2      Alka     95
3  Priyanka      5

In [76]:
pd.concat([df1,df2])

       name  Marks
0     Harry    100
1     Rohan     53
2   Shubham     53
3    Shivam     54
4     Divya     64
5    Aparna     32
6    Khushi     98
0     Akash      3
1    Akasha    100
2      Alka     95
3  Priyanka      5

In [77]:
df1 = pd.DataFrame({"name": ["Akash","Palak"], "Marks":[100,53]})

In [78]:
df1

    name  Marks
0  Akash    100
1  Palak     53

In [81]:
df2 = pd.DataFrame({"name": ["Akash","Palak"], "rollno":[120,532]})

In [82]:
df2

    name  rollno
0  Akash     120
1  Palak     532

In [83]:
pd.merge(df1,df2,on='name')

    name  Marks  rollno
0  Akash    100     120
1  Palak     53     532